@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --color-primary: #46145e;
  --color-secondary: #1f0259;
  --color-vim: #15f5ba;
  --color-grey: #8d8d8d;
  --color-pink: #fec5e4;
  --color-cream: #fff9cd;
  --color-sky: #abeffe;
  --color-purple: #cdc6ff;
}

body {
  font-family: "Poppins";
  color:black;
}

.card {
  @apply max-w-sm lg:max-w-md;
}

.card-body{
  @apply gap-0
}
.btn.btn-link{
  @apply text-lg text-red-500;
}

.btn .btn-primary{
  @apply bg-primary;
}
